.sidebar{
    width: 240px;
    flex-shrink: 0;
    padding: 90px 0;
    height: calc(100% - 90px);   
    background: linear-gradient( to bottom right,#170f2399, #111d3dee);
    
}
.sidebar-wrallpper{
    height: 100%;
    width: 100%;
}
.sidebar-nav{
    width: 100%;
}
.sidebar-thumb{
    position: fixed;
    top:0;
    width: 240px;
    height: 90px;
    display: flex;
    justify-content: center;
}
.sidebar-thumb img{
    width: 90px;
    height: 80px;
    object-fit:cover;
}
.sidebar-nav .sidebar-nav_main{
    position: relative;
}
.main_listitem li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
    font-weight: 500;
    font-size: 14px;
    color: aliceblue;  
    gap: 10px;     
}