.album-detail{   
   width: 100%;
   display: none;
}
.album-left{
    width: 24%;
    top:0px;
    height: fit-content;
    flex-shrink: 0;
    position: sticky;
    border-radius: 10px;       
    transition: all 1s;
    transform-style:preserve-3d;  
    float: left;  
}
.album-thumb{
    height: 0;
    padding-bottom: 100%; 
    width: 100%;
    border-radius: 8px;     
}
.album-thumb img{
    object-fit: cover;
    height: auto;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8)
}
.album-content{
    margin-left:  calc(24% + 50px);

    position: relative;  
}

.album-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;    
}
.album-profile h3{
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    margin-bottom: 5px;
}
.updateday,.artists,.like{
    font-size: 14px;
    margin-bottom: 5px;
}
.album-profile .profile-action button{
    margin-top: 10px;
    border: thin solid rebeccapurple;
    padding: 10px 40px;
    border-radius: 50px;
    background-color:#9b4de0;
    color: aliceblue;
}
