.now-playing__bar {
    position: fixed;
    height: 90px;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    background: linear-gradient( to bottom right, #111d3d33,#170f2399);
    display: flex;
    align-items: center;
    z-index: 100;
}

.now-playing__bar--main {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.now-playing__bar--main .nowplaying__main--left {
    width: 30%;
    display: flex;
    align-items: center;
    height: 100%;
}

.now-playing__bar--main .nowplaying__main--left--img img {
    height: 64px;
    width: 64px;
    border-radius: 6px;
    display: flex;
}

.now-playing__bar--main .nowplaying__main--left--title {
    margin-left: 10px;
    transform: translateY(-10%);
}

.now-playing__bar--main .nowplaying__main--left--title a,
.now-playing__bar--main .nowplaying__main--left--title span {
    text-decoration: none;
    color: #eee;
    font-size: 12px;
    font-weight: 600;
}

.now-playing__bar--main .nowplaying__main--left--title .intro {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.now-playing__bar--main .nowplaying__main--left--icon ion-icon {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    color: white;
    transition: 1s;
}

.nowplaying__main--center {
    width: 40%;
}

.nowplaying__main--center input {
    width: 100%;
}
.nowplaying_main-rihgt{
    flex-grow: 1;

}
.nowplaying_main-rihgt-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.level-item_volum button input {
    margin-left: 5px;
}
