/* ----------------------------------------gallery------------------------- */
#gallery {
	position: relative;
	left: calc(-1 * var(--adjust-size));
	display: grid;
	grid-template-columns: repeat(6, 185px);
	gap: 12px;
	max-width: 100vw;
	padding: 20px 0 20px;	
	-webkit-perspective: 0;
	perspective: 0;	
	margin-top: 20px;
}
#gallery a  figure:nth-child(1) {
	--duration: 1.8s;
	--pin-color: hotpink;
}
#gallery a figure:nth-child(2) {
	--duration: 1.3s;
	--pin-color: magenta;
}
#gallery a figure:nth-child( 3) {
	--duration: 1.5s;
	--pin-color: orangered;
}
#gallery a figure:nth-child( 4) {
	--duration: 1.1s;
	--pin-color: darkorchid;
}
#gallery a figure:nth-child( 5) {
	--duration: 1.6s;
	--pin-color: deeppink;
}
#gallery a  figure:nth-child( 6) {
	--duration: 1.2s;
	--pin-color: mediumvioletred;
}
#gallery a figure:nth-child(3n) {
	--angle: 3deg;
}
#gallery a figure:nth-child(3n + 1) {
	--angle: -3.3deg;
}
#gallery a figure:nth-child(3n + 2) {
	--angle: 2.4deg;
}
#gallery a figure:nth-child(odd) {
	--direction: alternate;
}
#gallery  figure:nth-child(even) {
	--direction: alternate-reverse;
}
#gallery a figure {	   
	position: relative;
	display: inline-block;
	margin: var(--adjust-size);
	padding: 0.5rem;
	border-radius: 5px;
	box-shadow: 0 7px 8px rgba(0, 0, 0, 0.4);
	width: 90%;
	height: auto;
	text-align: center;
	background:linear-gradient( to bottom right, #1a2c5f,#2a1b42);
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	transform-origin: center 0.22rem;
	will-change: transform;
	break-inside: avoid;
	overflow: hidden;
	outline: 1px solid transparent;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#gallery .shaking a  figure  {
	animation-duration: var(--duration), 1.5s;
	animation-delay: var(--delay),
		calc(var(--delay) + var(--duration) * var(--count));
	animation-timing-function: ease-in-out;
	animation-iteration-count: var(--count), 1;
	animation-direction: var(--direction), normal;
	animation-fill-mode: both;
	animation-name: swing, swingEnd;
}
#gallery  figure:after {
	position: absolute;
	top: 0.22rem;
	left: 50%;
	width: 0.7rem;
	height: 0.7rem;
	content: "";
	background: var(--pin-color);
	border-radius: 50%;
	box-shadow: -0.1rem -0.1rem 0.3rem 0.02rem rgba(0, 0, 0, 0.5) inset;
	filter: drop-shadow(0.3rem 0.15rem 0.2rem rgba(0, 0, 0, 0.5));
	transform: translateZ(0);
	z-index: 2;
}
figure img {
	aspect-ratio: 1 /1;
	width: 100%;
	object-fit: cover;
	display: block;
	border-radius: 5px;
	margin-bottom: 10px;
	z-index: 1;
}
figure figcaption {
	font-size: 14px;
	font-weight: 400;
	z-index: 1;
}
figure h2 {
	color: crimson;
	font-size: 22px;
}
figure p {
	font-size: 17px;
}
figure > div {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes swing {
	0% {
		transform: rotate3d(0, 0, 1, calc(-1 * var(--angle)));
	}
	100% {
		transform: rotate3d(0, 0, 1, var(--angle));
	}
}
@keyframes swingEnd {
	to {
		transform: rotate3d(0, 0, 1, 0deg);
	}
}