.music-deltail{
    position: relative;
    width: 100%;     
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3) ;
    filter: drop-shadow(0.3rem 0.15rem 0.2rem rgba(0, 0, 0, 0.3));
    height: 100%;
    border-radius: 15px;
    margin: auto;
   
}
.music-deltail_active{
    width: 100%; 
    height: 96%;
}
.music-detail_left{
    position: absolute;
    width: 40%; 
    height: 100%;
    float: left;
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.music-detail_left_top{
    width: 70%;
    display: flex;
    position: relative;
}
.music-top_thumb{
    width: 100%;
    height: 0;
    padding-bottom: 100%;  
}
.music-top_thumb img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) ;
    filter: drop-shadow(0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2));
    object-fit: cover;
}
.music-detail_left_bottom .music-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.music-detail_left_bottom .music-profile button{
    padding: 10px 20px;
    background: #9b4de0;
    border-radius: 50px;
    margin: 25px 0 ;
    color: aliceblue;
}
.music-detail_right{
    margin-left: 40%;
    width:56%;
    height: 100%;
    padding-right: 20px;
}
.music-detail_right_top{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;      
}
.music-detail_right .music-artists{
    display: flex;   
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;   
}
.music-detail_right .music-artists span{
    margin: 10px 0;
    font-size: 13px;
    font-weight: 500;
    color: #eee;
}
.music-detail_right_top h3{
    font-weight: 600;
    font-size: 25px;
    margin-top: 15px;
    color: aliceblue;
}
.music-detail_right_visualazer{
    margin-top: 10px;
    width: 100%;
    height: 40%;
    position: relative;
}
.music-detail_right_visualazer canvas {
    width: 100%;
    height: 100%;
    position:absolute;
}
.music-detail_artist{
    margin-top: 60px;
    float: left;
    width: 40%;
}
.music-detail_interest{
    margin-top: 60px;
}
.music-detail_interest_title h3,
.music-detail_artist_title span{ 
    font-size: 22px;  
    font-weight: 500;
    color: #eee;
}
.music-detail_interest_content{
    margin-top: 20px;
}
.music-detail_artist_title{
    margin-bottom: 20px;
}
.artist-list-item{
    display: flex;
    align-items: center;  
    margin-bottom: 20px;
}
.artist-item_left{
    width: 20%;  
    margin-right: 20px;  
}
.artist-thumb{
 width: 100%;
 height: 0;
 padding-bottom:100px;
 border-radius: 50%;
}
.artist-thumb img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}