.main-page{
    position: relative;
    overflow: hidden;
    height: calc(100% - 163px);
    width: 100%;
    flex-grow: 1;
    margin-top: 75px;	
}
.layout{
    width: 100vw;
    height: 100vh;    
    display: flex;
}
.container{    
    min-height: 100%;
    width: 100%;
    position: relative;

}
.home-page-content{
    display: none;
}
main{
    position: absolute;
    inset: 0;
	padding: 0 50px 0 50px ;
	overflow: hidden scroll;
}